{% extends 'base.html' %} {% load static%} 

{% block title %} | About {% endblock %}

{% block content %}

<section class="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Real Estate</h1>
        <p class="lead">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
          pariatur!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container mt-3 mb-5">
  <ul class="nav_links">
    <li>
      <a href="{% url 'index' %}">
        <i class="bi bi-house-door-fill"></i> Home</a
      >
    </li>
    <li>/</li>
    <li>About</li>
  </ul>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>We Search For The Perfect Home</h2>
      <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
        pariatur!
      </p>

      <img src="{% static 'images/about.jpg' %}" class="about_img" alt="">

      <p class="mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        esse officia repudiandae ad saepe ex, amet neque quod accusamus rem quia
        magnam magni dolorum facilis ullam minima perferendis? Exercitationem at
        quaerat commodi id libero eveniet harum perferendis laborum molestias
        quia.
      </p>
    </div>

    <div class="col-md-4">
      <div class="card">
        {% for real in pro_realtor %}
         <img src="{{ real.photo.url }}" />
        <div class="card-body">
          <h5 class="card-title">Seller Of The Month</h5>
          <h6 class="text-secondary text-success">{{real.name}}</h6>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
            nesciunt amet, illo itaque similique repellat. content.
          </p>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</section>

<!-- work -->
<section id="work" class="bg-dark text-white text-center py-5">
  <h2 class="display-5">We Work For You</h2>
  <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h5>
  <hr>
  <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-md">View Our Featured Listings</a>
</section>

<!-- Team section -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Our Team</h2>
    <div class="row text-center">
      {% if realtors %}
      {% for real in realtors %}
      <div class="col-md-4">
        <img src="{{real.photo.url}}" alt="" class="rounded-circle mb-3" width="100%">
          <h4>{{real.name}}</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Realtor
          </p>
          <hr />

          <p><i class="fas fa-phone"></i> {{real.phone}}</p>
          <p><i class="fas fa-envelope-open"></i> {{real.email}}</p>
      </div>
      {%endfor%}
      {%else%}
      <div class="col-md-12">
        <h3>No Realtors Available</h3>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
