{% load static %}

<section class="best_prods">
    <div class="on_sale">
      <h2>On sale</h2>
    <div class="sale_card">
      <img src="{% static 'images/list/shop-list1.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>

    <div class="sale_card">
      <img src="{% static 'images/list/shop-list2.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>

    <div class="sale_card">
      <img src="{% static 'images/list/shop-list3.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>
  </div>

  <div class="on_sale">
    <h2>Best Seller</h2>
    <div class="sale_card">
      <img src="{% static 'images/list/shop-list4.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>

    <div class="sale_card">
      <img src="{% static 'images/list/shop-list5.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>

    <div class="sale_card">
      <img src="{% static 'images/list/shop-list6.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>
  </div>

  <div class="on_sale">
    <h2>Top Viewed</h2>
    <div class="sale_card">
      <img src="{% static 'images/list/shop-list7.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>

    <div class="sale_card">
      <img src="{% static 'images/list/shop-list8.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>

    <div class="sale_card">
      <img src="{% static 'images/list/shop-list9.jpg' %}" alt="" />
      <div class="info">
        <p>
          Lorem ipsum dolor <br />
          sit amet.
        </p>
        <p>$65</p>
      </div>
    </div>
  </div>
</section>
