{% load static %}

<section class="blog_sec">
    <h3>From our Blog</h3>
  <div class="blog">
    <div class="blog_card">
      <img src="{% static 'images/blog1.jpg' %}" alt="" />
      <div class="info">
        <p>22 July, 2020 Monday</p>
        <p>Lorem, ipsum dolor.</p>
        <a href="#">continue reading</a>
      </div>
    </div>
    <div class="blog_card">
      <img src="{% static 'images/blog2.jpg' %}" alt="" />
      <div class="info">
        <p>22 July, 2020 Monday</p>
        <p>Lorem, ipsum dolor.</p>
        <a href="#">continue reading</a>
      </div>
    </div>
    <div class="blog_card">
      <img src="{% static 'images/blog3.jpg' %}" alt="" />
      <div class="info">
        <p>22 July, 2020 Monday</p>
        <p>Lorem, ipsum dolor.</p>
        <a href="#">continue reading</a>
      </div>
    </div>
  </div>
</section>
