{% load static %}

<section class="collection">
    <div class="collection_card">
        <img src="{%static 'images/mid-banner1.jpg' /%}" alt="summer_travel">
        <div class="collection_info">
            <p>man's collection</p>
            <h4>summer travel <br> collection</h4>
            <a href="#">discover now</a>
        </div>
    </div>
    <div class="collection_card">
        <img src="{%static 'images/mini-banner2.jpg' /%}" alt="summer_travel">
        <div class="collection_info">
            <p>bag collections</p>
            <h4>awesome bag  <br> 2020</h4>
            <a href="#">Shop now</a>
        </div>
    </div>
    <div class="collection_card">
        <img src="{%static 'images/mini-banner3.jpg' /%}" alt="summer_travel">
        <div class="collection_info">
            <p>flash sale</p>
            <h4>mid season <br> upto 40% off</h4>
            <a href="#">discover now</a>
        </div>
    </div>
</section>