{% load static %}
<section class="timer_deal">
  <div class="timer_img">
    <img src="{% static 'images/modal1.png' %}" alt="" />
  </div>
  <div class="info">
    <p>deal of the day</p>
    <h4>Beautyful dress for women</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eius at eligendi harum voluptatum a.</p>
    <h3>$1200 <span>$1090</span></h3>

    <div id="countdown">
        <div>
            <p id="days"></p>
            <p>days</p>
        </div>
        <div>
            <p id="hours"></p>
            <p>hours</p>
        </div>
        <div>
            <p id="minutes"></p>
            <p>minutes</p>
        </div>
        <div>
            <p id="seconds"></p>
            <p>seconds</p>
        </div>
    </div>
  </div>
</section>
