{% load static %}

<section class="mid_banner">
    <div class="mid_banner_card">
       <div class="info">
            <p>man's collections</p>
            <h4>man's items <br> upto 50%</h4>
            <button>shop now</button>
       </div>
       <img src="{% static 'images/mid-banner1.jpg' %}" alt="">
    </div>
    <div class="mid_banner_card">
        <div class="info">
            <p>shoes collections</p>
            <h4>mid season <br> upto 70%</h4>
            <button>shop now</button>
       </div>
       <img src="{% static 'images/mid-banner2.jpg' %}" alt="">
    </div>
</section>