<section class="payment">
    <div class="pay_card">
        <p><i class="fa-solid fa-truck-fast"></i></p>
        <div class="info">
            <p>free shipping</p>
            <p>orders over $100</p>
        </div>
        
    </div>
    <div class="pay_card">
        <p><i class="fa-solid fa-arrow-rotate-left"></i></p>
        <div class="info">
            <p>free return</p>
            <p>within 30 days</p>
        </div>
    </div>
    <div class="pay_card">
        <p><i class="fa-solid fa-lock"></i></p>
        <div class="info">
            <p>secure payment</p>
            <p>100% secure payment</p>
        </div>
    </div>
    <div class="pay_card">
        <p><i class="fa-solid fa-tags"></i></p>
        <div class="info">
            <p>best price</p>
            <p>guaranteed price</p>
        </div>
    </div>
</section>