{% load static %}

<footer>
  <div class="foot_wrapper">
    <div class="foot_head">
      <div class="logo_wrapper">
        <img src="{% static 'images/logo.png' %}" alt="foot_logo" />
      </div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
        molestias doloremque magni repudiandae veritatis magnam eveniet nobis
        quo facere atque
      </p>
      <p>Got question call us 24/7</p>
      <h3>+911234567890</h3>
    </div>

    <div class="foot_body">
      <div class="info">
        <h3 class="title">Information</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Faq</a></li>
          <li><a href="#">terms & conditions</a></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">help</a></li>
        </ul>
      </div>
      <div class="customer_service">
        <h3 class="title">customer service</h3>
        <ul>
          <li><a href="#">payment methods</a></li>
          <li><a href="#">Money-back</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">shopping</a></li>
          <li><a href="#">privacy policy</a></li>
        </ul>
      </div>
      <div class="get_touch">
        <h3 class="title">Get in touch</h3>
        <p>
          No 342-London oxford street <br />
          012 united kingdom <br />
          [email protected] <br />
          +03212312412
        </p>
        <p class="social">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-discord"></i>
        </p>
      </div>
    </div>
  </div>

  <hr />

  <div class="foot_tail">
    <p>
      copyright A &copy; 2020 <a href="#">wpthemegrid</a>-All rights reserved.
    </p>

    <div class="payment">
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-paypal"></i>
        <i class="fa-brands fa-cc-apple-pay"></i>
    </div>
  </div>
</footer>
