{% extends 'base.html' %} {% load static %} {% block pagecontent %}
<main class="main">
  <div class="main_wrap">
    <h3>up to 50% off</h3>
    <h1>shirt for man</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
      dignissimos sint maiores possimus, consequuntur facere alias est
      voluptates quod deleniti!
    </p>

    <button>shop now</button>
  </div>
</main>

{% include 'components/collections.html' %}

{% include 'components/products.html' %}

{% include 'components/mid_banner.html' %}

{% include 'components/hot_items.html' %}

{% include 'components/best_top_prods.html' %}

{% include 'components/deal_timer.html' %}

{% include 'components/blog.html' %}

{% include 'components/payment_methods.html' %}

{% include 'components/newsletter.html' %}
{% endblock %}