

<section class="topbar d-none d-md-flex px-0 px-md-5">
    <div class="contacts">
        <p>
            <i class="fa-solid fa-headphones"></i>+911234567890
        </p>
        <p>
            <i class="fa-regular fa-envelope"></i> [email protected]
        </p>
    </div>
    <div class="actions">
        <ul>
            <li><a href="#"><i class="fa-solid fa-location-dot"></i>Store Location</a></li>
            <li><a href="#"><i class="fa-regular fa-bell"></i>Daily Deal</a></li>
            <li><a href="#"><i class="fa-solid fa-user"></i>My account</a></li>
            <li><a href="#"><i class="fa-solid fa-power-off"></i>Login</a></li>
        </ul>
    </div>
</section>

