<!-- Top Bar -->

<section id="top-bar">
  <div class="container topbar">
    <div class="phone"><i class="bi bi-telephone-fill"></i>+91-12345 67890</div>
    <div class="email">
      <i class="bi bi-envelope-fill"></i> realestate@gmail.com
    </div>
    <div class="social-icons">
      <a href="#">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="#">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="#">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="#">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="#">
        <i class="bi bi-pinterest"></i>
      </a>
    </div>
  </div>
</section>
